.card{
    width: 400px;
    border: 1px solid gray;
    margin: 10px auto;
}
.card_header{
    display: flex;
    padding: 5px;
    align-items: center;
}
.userName_profile{
    margin: 0 10px;
}
.card .avatar{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(128, 96, 96);
    border-radius: 50%;
    background-image: linear-gradient(red, yellow);
}
.card .card_post img{
    width: 100%;
}

.card_desc{
    padding: 5px;
}